body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #6138AD;
}
.banner-column{
    background-color: #775BA4;
}
.navbar-container{
    background-color: #000;
}